body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(6, 46, 6);
    overflow: hidden;
}

h1 {
    margin-top: -5vh;
    margin-bottom: 2vh;
    font-size: 2rem;
    text-transform: uppercase;
}